@import 'fonts.scss';
@import 'mixins.scss';



// MAIN styles

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 10px;
  width: 1920px;
}

.conteiner-auter{
  width: 90%;
  margin: 0 auto;
}

.container-inner{
  padding-left: 5%;
  padding-right: 5%;
}
