@import 'fonts.scss';
@import 'mixins.scss';


// Variables

$textcolorlight: rgb(242, 242, 242);

// MAIN styles

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;

}

.conteiner-auter{
  width: 80%;
  margin: 0 auto;
}

.container-inner{
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2,
h3,
h4,
p {
  margin:0;
  padding: 0;
}


// header

.header{
  background-image: url("../../images/background.png");
  background-color: rgba(41, 17, 84, 0.90);
  min-height: 75vh;
}
// menu
.menu{
  display:flex;
  padding-top: 0px;
  align-items: center;

  height: 7vh;
}
 .logo{
   margin-right: auto;
 }
.menu-items{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 50px;
  @include menufont;

  li{
    margin-left: 20px;


    .menu-items__list{
      text-decoration: none;
      color: $textcolorlight;
    }
  }
}
.contact-btn{
  justify-content: flex-end;
  @include borderbutton;
}

// header text

.header-title{
  @include headerfont;
  margin-top: 140px;
  text-shadow: 4px 3px 12px rgba(33,33,32,0.86);
}

.header-text{
  @include headertext;
  text-shadow: 4px 3px 12px rgba(33,33,32,0.86);
}

.header-btns button{
  margin-top: 50px;
  @include mainbutton;
}
.header-btns button:last-child{
  margin-left: 20px;
  background-color: rgba(62, 198, 72, 0.6);
}
