@import 'fonts.scss';
@import 'mixins.scss';


// Variables

$textcolorlight: rgb(242, 242, 242);
$sectiontitlecolor:#d94126;
$sectiontextcolor:hsl(0, 0%, 17%);

// MAIN styles

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;

}

.conteiner-auter{
  width: 80%;
  margin: 0 auto;
}

.container-inner{
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2,
h3,
h4,
p {
  margin:0;
  padding: 0;
}


// header

.header{
  background-image: url("../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(41, 17, 84, 0.90);
  min-height: 75vh;
}
// menu
.menu{
  display:flex;
  padding-top: 0px;
  align-items: center;
  height: 7vh;
}
 .logo{
   margin-right: auto;
 }
.menu-items{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 50px;
  @include menufont;

  li{
    margin-left: 20px;


    .menu-items__list{
      text-decoration: none;
      color: $textcolorlight;
    }
  }
}
.contact-btn{
  justify-content: flex-end;
  @include borderbutton;
}

// header text

.header-title{
  @include headerfont;
  margin-top: 140px;
  text-shadow: 4px 3px 12px rgba(33,33,32,0.86);
}

.header-text{
  @include headertext;
  text-shadow: 4px 3px 12px rgba(33,33,32,0.86);
}

.header-btns button{
  margin-top: 50px;
  @include mainbutton;
}
.header-btns button:last-child{
  margin-left: 20px;
  background-color: rgba(62, 198, 72, 0.6);
}

// Media quaries
@media (max-width: 767px){
  .menu{
    display: block;
    text-align: center;
    padding-top: 20px;

  }
  .logo{
    align-items: center;
    margin-right: none;
    margin-bottom: 15px;
  }
  .menu-items{

    display: block;
    margin-right: 0px;
    margin-bottom: 15px;


    li{

      margin-left: 0px;
      margin-right: 20px;
      margin-bottom: 5px;
    }
  }

  .header-title{
    margin-top: 190px;

  }
}

// features
.features{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f6f6f6;
}
.features-items{

	animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  display: flex;
}
@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}



.featured-items__item{
  img{
    height: 60px;
  }

  .featured-items__title{
    margin-top: 10px;
    @include sectiontitle;
  }
  .featured-items__text{
    margin-top: 5px;
    @include sectiontext;
  }
}


.article{
  margin-top: 40px;
  background-image: url("../../images/droneback.png");
  background-repeat: no-repeat;
  background-position: right;
  min-height: 500px;
  padding-top:80px;

}
.article-title{

  @include sectiontitle;
  font-size: 1.875rem;
}
.article-text{
  margin-top: 10px;
  @include sectiontext;
}
.article-list{

  margin-bottom: 40px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 40% 40%;
}
