@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("./fonts/SourceSansPro-Light.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("./fonts/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("./fonts/SourceSansPro-SemiBold.ttf");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("./fonts/SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px; }

.conteiner-auter {
  width: 80%;
  margin: 0 auto; }

.container-inner {
  padding-left: 5%;
  padding-right: 5%; }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }

.header {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(41, 17, 84, 0.9);
  min-height: 75vh; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 7vh; }

.logo {
  margin-right: auto; }

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.125rem; }
  .menu-items li {
    margin-left: 20px; }
    .menu-items li .menu-items__list {
      text-decoration: none;
      color: #f2f2f2; }

.contact-btn {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1.125rem;
  color: #f2f2f2;
  padding: 7px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal; }

.header-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-style: normal;
  text-transform: capitalize;
  font-size: 3rem;
  color: #f2f2f2;
  margin-top: 140px;
  text-shadow: 4px 3px 12px rgba(33, 33, 32, 0.86); }

.header-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #f2f2f2;
  text-shadow: 4px 3px 12px rgba(33, 33, 32, 0.86); }

.header-btns button {
  margin-top: 50px;
  background-color: rgba(126, 62, 198, 0.7);
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1.125rem;
  color: #f2f2f2;
  padding: 7px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal; }

.header-btns button:last-child {
  margin-left: 20px;
  background-color: rgba(62, 198, 72, 0.6); }

@media (max-width: 767px) {
  .menu {
    display: block;
    text-align: center;
    padding-top: 20px; }
  .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: none;
    margin-bottom: 15px; }
  .menu-items {
    display: block;
    margin-right: 0px;
    margin-bottom: 15px; }
    .menu-items li {
      margin-left: 0px;
      margin-right: 20px;
      margin-bottom: 5px; }
  .header-title {
    margin-top: 190px; } }

.features {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f6f6f6; }

.features-items {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

.featured-items__item img {
  height: 60px; }

.featured-items__item .featured-items__title {
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #d94126;
  font-style: normal;
  text-transform: capitalize; }

.featured-items__item .featured-items__text {
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: #3f4e76;
  font-style: normal; }

.article {
  margin-top: 40px;
  background-image: url("../../images/droneback.png");
  background-repeat: no-repeat;
  background-position: right;
  min-height: 500px;
  padding-top: 80px; }

.article-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #d94126;
  font-style: normal;
  text-transform: capitalize;
  font-size: 1.875rem; }

.article-text {
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: #3f4e76;
  font-style: normal; }

.article-list {
  margin-bottom: 40px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
  grid-template-columns: 40% 40%; }

.article-list__items {
  margin-bottom: 50px;
  margin-right: 10px;
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

.article-list__items span {
  padding: 10px;
  border: 1px solid #3f4e76;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  float: left;
  font-size: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  vertical-align: middle;
  color: #3f4e76;
  font-weight: 600;
  margin-right: 10px;
  -webkit-box-shadow: 12px 7px 41px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 7px 41px -2px rgba(0, 0, 0, 0.3); }

.article-list__items p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: #3f4e76;
  font-style: normal;
  font-size: 16px; }

@media (max-width: 767px) {
  .features-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .featured-items__item {
    margin-top: 40px; }
  .features {
    padding-top: 20px; }
  .article {
    background-image: none;
    background-color: #fff; } }
